<div class="alert alert-info">
  <strong><a href="/login">Log in</a></strong> to write messages.
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>

<%= render partial: "message_panel", collection: @latest %>