<div class="jumbotron">

<h1>Address book with ratings</h1>

<div class="row">
<div class="col-lg-4"><p>Keep your contacts and trusted online identity up-to-date.</p></div>
<div class="col-lg-4"><p>Find out who said what about a person or an organization.</p></div>
<div class="col-lg-4"><p>Show content from trusted and real identities only.</p></div>
</div>

<div class="row">
  <div class="col-lg-6">
    <form class="identifi-search">
      <div class="input-group input-group-md hidden-sm hidden-md hidden-lg">
        <input type="text" class="form-control" placeholder="Name, email, url or any other ID">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div><!-- /input-group -->
      <div class="input-group input-group-lg hidden-xs">
        <input type="text" class="form-control" placeholder="Name, email, url or any other ID">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> Search</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div>

</div>
