<div class="jumbotron">

<div class="align-center"><h1>Address book with ratings</h1></div>

<div class="row">
<div class="col-lg-4"><div class="align-center"><i class="hidden-xs fa fa-link fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-link"></i> Keep your contacts and trusted online identity up-to-date.</p></div></div>
<div class="col-lg-4"><div class="align-center"><i class="hidden-xs fa fa-thumbs-up fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-thumbs-up"></i> Find out who said what about a person or an organization.</p></div></div>
<div class="col-lg-4"><div class="align-center"><i class="hidden-xs fa fa-check fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-check"></i> Show content from trusted and real identities only.</p></div></div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
  <div class="align-center">
    <form class="identifi-search">
      <div class="input-group input-group-md hidden-sm hidden-md hidden-lg">
        <input type="text" class="form-control" placeholder="Name, email, url or any other ID">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div><!-- /input-group -->
      <div class="input-group input-group-lg hidden-xs">
        <input type="text" class="form-control" placeholder="Name, email, url or any other ID">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> Search</button>
        </span>
      </div><!-- /input-group -->
    </form>
    </div>
  </div><!-- /.col-lg-6 -->
</div>

</div>
