  <div class="col-md-8">
    <h3>About Identifi</h3>
    <p>Identifi is a distributed database running on free and open-source software.</p>

    <ul>
      <li><a href="http://identifi.org">Project page</a></li>
      <li><a href="https://github.com/identifi">Source code</a></li>
    </ul>

    <p>The purpose of Identifi is to allow for uncensorable public messaging and trust ratings. On the other hand, Identifi provides web-of-trust tools to help decide what information to trust and what to ignore.
    </p>

    <h3>Privacy policy</h3>
    <p>The Identifi network stores user-submitted identifiers which can be of arbitrary type, for example <i>name</i>, <i>email address</i> or <i>phone number</i>. All stored information is made public and broadcast to the P2P network.</p>

    <p>This Identifi user interface uses 3rd party authentication options and does not store login credentials.</p>

    <h3>Statistics</h3>
    <p><strong><%= @packetCount %></strong> packets and <strong><%= @identifierCount %></strong> identifiers stored on this node.</p>
  </div>
