  <div class="col-md-8">
    <h3>About Identifi</h3>
    <p class="lead">Identifi is an address book application that stores its data in a distributed fashion on the computers of its users. The stored information is not owned or centrally administered by anyone.</p>
    <p>In addition to keeping your contact details such as phone number or bitcoin address up-to-date, you can give other users <b>trust ratings and feedback</b>. You can filter all shown information by your <b>web of trust</b>, for example by displaying only the information stored by your friends and the people they trust.</p>
    <ol>
      <li>Link together all your profiles and identifiers to form a trusted identity</li>
      <li>Get verified by your social network or trusted parties</li>
      <li>Use the same trusted identity on all sites and situations</li>
      <li>Profit</li>
    </ol>
    <p>Identifi is free and open source software. The project is in alpha development stage.</p>
    <ul>
      <li><a href="http://identifi.org">Project page</a></li>
      <li><a href="https://github.com/identifi">Source code</a></li>
    </ul>

    <h3>Privacy policy</h3>
    <p>The Identifi network stores user-submitted identifiers which can be of arbitrary type, for example <i>name</i>, <i>email address</i> or <i>phone number</i>. All stored information is made public and broadcast to the P2P network.</p>

    <p>This Identifi user interface uses 3rd party authentication options and does not store login credentials.</p>

    <h3>Statistics</h3>
    <p><strong><%= @packetCount %></strong> packets and <strong><%= @identifierCount %></strong> identifiers stored on this node.</p>
  </div>
