<% if @mentionedWith.empty? %>
  <div class="alert alert-info">Not connected with other identifiers</div>
  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#about" data-toggle="tab">Connections</a></h3>
    </div>
    <table class="table truncated-table">
    <% @mentionedWith.each do |id| %>
      <tr>
        <td><%= id.first %></td>
        <td><a href="<%= "/id/#{id.first}/#{id.second}" %>"><%= id.second %></a></td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>