  <div id="received-messages">
    <% if current_user %>
      <%= render "write_message" %>
    <% else %>
      <%= render "login_info" %>
    <% end %>

    <% if @received.empty? %>
      <div class="alert alert-info animated fadeIn">No messages to show</div>
    <% else %>
      <%= render partial: "message", collection: @received, locals: {showRecipient: true, showAuthor: true } %>
      <div id="more-received"><a href="#"></a></div>
    <% end %>
  </div>
  <div class="ladda-button" data-style="zoom-in" data-spinner-color="#000" id="received-spinner"></div>
