identifiHost: 'http://identifirpc:rpcpassword@127.0.0.1:4945'
nodeID: ["keyID", "1FMUysmVbnWfFkLbdw4bmWhR642j3Am24H"]
nodeName: ''
fbID: ''
fbKey: ''
twitterKey: ''
twitterSecret: ''
googleClientID: ''
googleClientSecret: ''
maxPathSearchDepth: 3
generateTrustMapDepth: 4
rpcCacheTime: 10
trustPathableTypes: ['email', 'url', 'keyID', 'bitcoin_address', 'account']
googleAnalyticsTrackingID: ''
