<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Write feedback</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="btn-group">
            <button type="button" class="btn btn-default" id="btn-positive"><span class="glyphicon glyphicon-thumbs-up"></span> positive</button>
            <button type="button" class="btn btn-default" id="btn-neutral"><span class="glyphicon glyphicon-question-sign"></span> neutral</button>
            <button type="button" class="btn btn-default" id="btn-negative"><span class="glyphicon glyphicon-thumbs-down"></span> negative</button>
          </div>
        </div>

        <div class="col-md-2" style="text-align:right">
          <button type="submit" class="btn btn-primary">Publish</button>
        </div>
      </div>
    </form>
  </div>
</div>