<div class="panel panel-default panel-success">
  <div class="panel-heading visible-xs">
    <h3 class="panel-title"><a data-toggle="collapse" data-target="#write-feedback"><span class="glyphicon glyphicon-chevron-down"></span> Write feedback</a></h3>
  </div>
  <div class="panel-body collapse" id="write-feedback">
    <form action="/id/write" method="post">
      <%= hidden_field_tag :type, params[:type] -%>
      <%= hidden_field_tag :value, params[:value] -%>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <div class="form-group">
        <textarea name="comment" class="form-control" id="comment" placeholder="Write feedback"></textarea>
      </div>

      <div class="row">
        <div class="col-sm-10 col-xs-7">
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" value="1" class="btn btn-default btn-success" id="btn-positive"><span class="glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs"> positive</span></button>
            <button type="button" value="0" class="btn btn-default" id="btn-neutral"><span class="glyphicon glyphicon-question-sign"></span><span class="hidden-xs"> neutral</span></button>
            <button type="button" value="-1" class="btn btn-default" id="btn-negative"><span class="glyphicon glyphicon-thumbs-down"></span><span class="hidden-xs"> negative</span></button>
          </div>
          <input name="rating" type="hidden" id="buttonvalue" value="1" autocomplete="off">
        </div>
        <div class="col-sm-2" style="text-align:right">
          <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-out">Publish</button>
        </div>
      </div>
    </form>
  </div>
</div>
