<div class="panel panel-default panel-success">
  <div class="panel-heading visible-xs">
    <h3 class="panel-title"><a data-toggle="collapse" data-target="#write-feedback"><span class="glyphicon glyphicon-chevron-down"></span> Write feedback</a></h3>
  </div>
  <div class="panel-body collapse" id="write-feedback">
    <form action="/id/write" method="post">
      <%= hidden_field_tag :type, params[:type] -%>
      <%= hidden_field_tag :value, params[:value] -%>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <div class="form-group">
        <textarea name="comment" class="form-control" id="comment" placeholder="Write feedback"></textarea>
      </div>

      <div class="row">
        <div class="col-sm-10 col-xs-7">
          <input class="slider" style="width:70%" data-slider-id="write-msg-slider" type="text" data-slider-min="-3" data-slider-max="3" data-slider-step="1" data-slider-value="1">
          <input type="hidden" name="rating" id="buttonvalue" autocomplete="off" value="1">
          <span id="write-msg-icons" class="has-success mar-left5">
            <span class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5 form-control-feedback"></span>
            <span class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5 form-control-feedback" style="display:none;"></span>
            <span class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5 form-control-feedback" style="display:none;"></span>
          </span>
        </div>
        <div class="col-sm-2" style="text-align:right">
          <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-out">Publish</button>
        </div>
      </div>
    </form>
  </div>
</div>
